*{margin: 0;padding: 0; text-align: center;}
body{
    font-family: sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(17, 17, 17);
    color: white;
}

.container{
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    max-width: 350px;
    min-width: 250px;
    width: 100%;
}
.container > #brand{
    max-width: 450px;
    min-width: 250px;
    width: 100%;
    margin-bottom: 25px;
}
.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box > span{
    font-size: 1.2rem;
    text-align: left;
}
.input-box > input[type="range"]{
    margin-bottom: 20px;
}
.input-box > button{
    width: 100%;
    height: 35px;
    background: green;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: 0.3s ease;
}
.input-box > button:hover{
    background: rgb(0, 109, 0);
    transform: translate(1px,1px);
}
.gen-pass{
    margin-top: 25px;
}
.gen-result{
    margin-top: 5px;
    width: 100%;
    height: 45px;
    background: hsl(0, 0%, 3%);
    border: 1px solid black;
    line-height: 45px;
    text-align: center;
    color: white;
    outline: none;
    transition: 0.3s ease;
    
}
.gen-result:hover{
    border: 1px solid rgba(255, 255, 255, 0.384);
    cursor: pointer;
    transform: scale(1.1);
}
.gen-result:hover + .info{
    opacity: 1;

}
.info{
    transition: 0.5s ease;
    margin-top: 10px;
    width: 100%;
    opacity: 0;    
    /* background: hsl(0, 0%, 3%); */
}
